body {
    min-height: 75rem;
}

main {
    top: -6.1rem;
    position: relative;
}

.course-header {
    padding-top: 4.5rem;
    height: 10rem;
    margin-bottom: 1rem;
    background-color: #212529 !important;
    color: #fff;
}

a.anchor {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
}